manuscripts/components/cache
manuscripts/components/figure
manuscripts/packrat/lib
manuscripts/packrat/src
manuscripts/packrat/bootstrap.R
manuscripts/.Rprofile
manuscripts/*.pdf
vignettes/*.pdf
.Rproj.user
*.Rproj
*/*.Rhistory
.Rhistory
