inst/doc/cache
inst/depricated
inst/xsd
inst/doc/*.pdf
inst/doc/*.Rnw
vignettes/*.pdf
inst/doc/*/*.pdf
inst/doc/*/cache
inst/doc/README.Rmd
inst/doc/README.html
inst/doc/README.R
inst/doc/vignettes/README.md
inst/doc/vignettes/*.xml
inst/doc/vignettes/*.csv
inst/doc/pubs/*.xml
inst/doc/pubs/*.csv
