
<!-- COinS metadata (for citation managers like Zotero etc), goes in body text -->
  <span
      class="Z3988" 
      title="ctx_ver=Z39.88-2004
      &amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Adc
      &amp;rfr_id=info%3Asid%2Focoins.info%3Agenerator
      &amp;rft.title={{ page.title}}
      &amp;rft.creator={{site.author.name}}
      &amp;rft.date={{ page.date | date: "%Y-%m-%d" }}
      &amp;rft.language=EN
      &amp;rft.rights=CC0
      &amp;rft_id={{site.url}}{{page.url}}">
  </span>

